# Mod_Autoindex
<IfModule mod_autoindex.c>
# Disable Indexes
Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
Options +SymLinksIfOwnerMatch
RewriteEngine on

RewriteCond %{REQUEST_URI} ^.*$
RewriteRule ^(.*)$ frontend/web/$1
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

RewriteCond %{REQUEST_URI} ^/admin/$
RewriteRule ^(admin)/$ /$1 [R=301,L]
RewriteCond %{REQUEST_URI} ^/admin
RewriteRule ^admin(/.+)?$ /backend/web/$1 [L,PT]
RewriteCond %{REQUEST_URI} ^catalog/trikotazh?page=1$
RewriteRule ^.*$ http://%{HTTP_HOST}/catalog/trikotazh [R=301,L]
	
	RewriteCond %{QUERY_STRING} .
RewriteCond %{QUERY_STRING} (?:^|&)page=1 [NC]
RewriteRule ^ %{REQUEST_URI}? [R=301,L,NE]
</IfModule>